<app-course-search (courseSearchedText)="fetchSearchText($event)"></app-course-search>
<app-filter-course [totalCourses]="courses" (selectedFilterOption)="selectedCourseFilterOption($event)"></app-filter-course>

<div class="d-flex m-3 flex-wrap justify-content-around">
    <ng-container *ngFor="let course of courses">
        <!-- courseFilterOptionSelected === 'allcourse' || courseFilterOptionSelected===course.price || courseFilterOptionSelected===course.available -->
        <div *ngIf="searchText==='' || course.name.toLowerCase().includes(searchText.toLowerCase())"
        class="card my-3" style="width: 18rem;background-color: burlywood;">
            <div class="card-body">
                <h5 class="card-title">{{course.name}}</h5>
                <h6 class="card-subtitle mb-2 text-info">Courses Available</h6>
                <p class="card-text">{{course.description}}</p>
                <div class="d-flex justify-content-between">
                    <p class="card-text">Price - {{course.price}}</p>
                    <p *ngIf="course.discount" class="card-text">Discount - {{course.discount}}</p>
                </div>
                <p class="card-text"> Availability : <span
                        [ngStyle]="{color:course.available === 'yes'? 'green':'red'}" style="float: right;">{{course.available}}</span></p>
            </div>
        </div>
    </ng-container>
</div>