:host {
    label {
        margin-bottom: 3px !important;
    }

    input:focus-visible {
        outline-color: grey;
        border-color: grey !important;
    }
}

.search-field {
    width: 35%;
    border: 1px solid grey;
    padding: 4px;
    margin: 6px;
    border-radius: 4px;
}